.btn {
    border: none;
    background-color: #652cb3;
   }
   .card {
    padding: 3.125em;
    margin: 2.8125em;
    text-align: center;
    border-color: white;
    left: 43.75em;
    border-radius: 0px;
    border-width: 0px;
}