<nav>
    <div class="navbar navbar-light bg-warning shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
        <a routerLink="/dashboard">
          <strong class="logo" style="font-size: 30px;">ANIMAL HAUS</strong>
        </a>
      </div>
      
      <div>
        <button type="button" class ="profile" data-bs-toggle="modal" data-bs-target="#myModal">
          <a routerLink="/component/contractor-profile">Profile</a>
        </button>
      
        <button type="button" class ="login" data-bs-toggle="modal" data-bs-target="#myModal">
          <a routerLink="/component/all-login">LOGIN</a>
        </button>
        
        <button type="button" class ="register" data-bs-toggle="modal" data-bs-target="#myModal2">
          <a routerLink="/component/register"> SIGN UP</a>
        </button>
        <button type="button" class ="grooming" data-bs-toggle="modal" data-bs-target="#myModal2">
          <a routerLink="/component/grooming"> Grooming</a>
        </button>
      </div>
      </div>
    
    <div>
      <button type="button" class ="profile" data-bs-toggle="modal" data-bs-target="#myModal">
        <a routerLink="/component/contractor-profile">Profile</a>
      </button>
    
      <button type="button" class ="login" data-bs-toggle="modal" data-bs-target="#myModal">
        <a routerLink="/component/all-login">LOGIN</a>
      </button>
      
      <button type="button" class ="register" data-bs-toggle="modal" data-bs-target="#myModal2">
        <a routerLink="/component/register"> SIGN UP</a>
      </button>
      <button type="button" class ="grooming" data-bs-toggle="modal" data-bs-target="#myModal2">
        <a routerLink="/component/grooming"> Grooming</a>
      </button>
    </div>
  
  
  <div class="navbar navbar-light bg-warning shadow-sm justify-content-center">
    <div class="container d-flex justify-content-around">
    <div class="row">
      <div class="col-md-4">
    <button type="button" class="groom">  
      <a routerLink="/grooming">
        <img alt="" src="assets/images/groom.jpg">
        <h3 style="font-size: 2vw;">GROOMING</h3>
        </a>
    </button>  
  </div>
  <div class="col-md-4">
    <button type="button" class="sit">
      <a routerLink="/">
        <img alt="" src="assets/images/sit.jpg">
        <h3 style="font-size: 2vw;">PET DAYCARE</h3>
      </a>
    </button>
  </div>
  <div class="col-md-4">
    <button type="button" class="walk">
      <a routerLink="/">
        <img alt="" src="assets/images/walk.jpg">
        <h3 style="font-size: 2vw;">PET WALKING</h3>
      </a>
    </button>
  </div>
</div>
  </div>
</div>
</nav>